body { 
  background: #5c4e56;
      

}

h1 { 
  
  color : #fffdf8;
  font-size: 80px;
  text-align: center;
  font-family: 'Arial Rounded MT Bold Italics';
}

.restaurant-display { 
  display: flex;
  flex-direction: column;
  gap: 20px;
}

img { 
  size: 50px;
  width: 300px;
  height: 200px;
  border: 7px solid #aeadc8;
  padding: 10px;
  margin: 10px;
  border-radius: 41px;
  background: linear-gradient(145deg, #62535c, #53464d);
  box-shadow:  28px 28px 48px #4b4047,
             -28px -28px 48px #6d5c65;
}

.restaurant-display { 
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.name { 
  color: #aeadc8;
  text-align: center;
  font-size: 35px;
  font-family: 'Arial Rounded MT Bold';
  ;
}

.description { 
  color: #fffdf8;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  font-family: 'Arial Rounded MT';

  font-size: 25px;
}

.detail-image { 
  float: left;
  width: 280px;
  height: 200px;

}

input[type=submit] {
  width: 150px;



  cursor: pointer;

}

#new-comment { 
  width: 200px;
  height: 100px;
  padding: 16px 32px
}

h3 { 
  color: #fffdf8;
  font-size: 40px;
  font-family: 'Arial Rounded MT Bold';
  text-align: left;
}
/* Existing styles */

#comment-box {
  float: right;
  width: 50%;
  padding: 10px;
}

#restaurant-comment {
  display: flex;
  flex-direction: column;
}

#new-comment {
  height: 80px;
  margin-bottom: 10px;
}

#comment-display p {
  margin: 5px 0;
}

#like-dislike-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#like-counter,
#dislike-counter {
  font-size: 18px;
}


/* ---------------------------- button-------------------  */
.btn {
  position: relative;
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #fffdf8;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #737373;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg,#aeadc8,#6f79a6);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #F6E6CF;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
} 

/* ------------------------form-----------------------  */


.new-restaurant .form-group { 
  position: relative;
  width: 100px;
  height: 100px;
  align-content: center;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: #fffdf8;
  
}

.button { 
  border: none;
  width: 15em;
  height: 5em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #fffdf8;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkles {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.textOne {
  font-weight: 600;
  color: #737373;
  font-size: medium;
}

.button:hover {
  background: linear-gradient(0deg,#aeadc8,#6f79a6);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #FFD8A8;
  transform: translateY(-2px);
}

.button:hover .text {
  color: white;
}

.button:hover .sparkles {
  fill: white;
  transform: scale(1.2);
} 

.button { 
  font-size: medium;
  color:#737373;
}

/* ----------------------h1-------------------------- */




