body { 
  background-color: black;
}

h1 { 
  color :antiquewhite;
  font-size: 80px;
  text-align: center;
}

img { 
  width: 200px;
  height: 175px;
  border: 15px solid white;
  padding: 35px;
  margin: 20px;
}

.name { 
  color: whitesmoke;
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  ;
}

.description { 
  color: white;
  text-align: center;
  padding-left: 150px;
  padding-right: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  font-size: 25px;
}

.detail-image { 
  float: right;
  width: 200px;
  height: 200px;

}

input[type=submit] {
  width: 150px;
  
  
  
  cursor: pointer;
  
}

#new-comment { 
  width: 200px;
  height: 100px;
  padding: 16px 32px
}

h3 { 
  color: whitesmoke;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
}



/*
box-sizing: border-box;
transition: all 0.3s;
*/